
{% extends "plantilla.html" %}

{%block title%} 
    {% if post_id %}
            {{ form.titulo.data}}
    {% else %}
            Nueva entrada
    {% endif %}
{%endblock%}

{% block body %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.titulo.label}}
            {{ form.titulo(size=20) }} <br>
            {% for error in form.titulo.errors %}
            <span class='text-danger'>{{ error }}</span>
            {% endfor %}
        </div>
        
        <div>
            {{ form.contenido.label}}
            {{ form.contenido }} <br>
            {% for error in form.contenido.errors %}
            <span class='text-danger'>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>

    


{% endblock %}